// set default colors
$bgColor: #ffffff !default;
$fontColor: #000000 !default;
$primaryColor: #34d3bb;

// overwrite, for dark scheme
// @media (prefers-color-scheme: dark) {
//   $bgColor: #121212 !global; // only local scope, if not !global
//   $fgColor: #ffffff !global;
//   $primaryColor: #3a59b8 !global;
// }

$fontStack: "Quicksand", "Open Sans", sans-serif;

@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-Regular.ttf") format("ttf");
  }