// set default colors
$bgColor: #ffffff !default;
$fontColor: #000000 !default;
$primaryColor: #34d3bb;

$fontStack: "Quicksand", "Open Sans", sans-serif;

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Regular.ttf") format("ttf");
}

// font-awesome
$fa-font-path: "../font-awesome";
@import "font-awesome/fontawesome.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";