header {
  width: 100%;
  display: inline-block;
  background-color: $primaryColor;
  color: $bgColor;
}

nav {
  display: inline-block;
  li {
    list-style: none;
    display: inline;
  }


  a {
    text-decoration: none;
    color: $bgColor;
  
    &.active {
      color: $secondaryColor;
    }
  }

}