@import "globalVars";
@import "header";
@import "footer";
@import "listpage";
@import "single-pages/index";
@import "single-pages/legal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
  font: 16px $fontStack;
  line-height: 1.2;
}

html {
  height: 100%;
  background-color: $bgColor;
  color: $fontColor;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $primaryColor;
  }
}

img {
  max-width: 100%;
}

.button {
  display: block;
  margin: 2em auto;
  width: 10em;
  padding: 1em 2em;
  border: 1px solid $primaryColor;
  background-color: $primaryColor;
}

.social-icons {
  margin: 1rem;
  a {
    padding: 2rem;
  }
  i {
    font-size: 1.4rem;
  }
}