{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ range .Pages.ByPublishDate.Reverse }}
  <section class="post">
      <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <a class="summary" href="{{ .RelPermalink }}">
          <p>{{ .Summary }}</p>
      </a>
      
      {{- $imageParam := .Param "image" -}}
      {{if $imageParam}}
        {{- $imageResource := .Resources.GetMatch $imageParam -}}
        {{if $imageResource}}
          {{ $image := $imageResource.Resize "200x q60" }}
          <img src="{{ $image.RelPermalink }}" alt="{{.Name}}" />
        {{end}}
      {{end}}
  </section>
  {{ end }}
{{ end }}