{{ define "main" }}
  <!-- <h1>{{ .Title | title }}</h1> -->
  <div class="list-gallery">
    {{ range .Pages.ByPublishDate.Reverse }}
      <div class="hovereffect">
        <a  href="{{ .RelPermalink }}">
          <div class="image-post">
            {{ .Scratch.Set "width" "400"}} 
            {{ .Scratch.Set "quality" "70"}}
            {{- partial "attachedImage.html" . -}}
          </div>
          <div class="overlay">
            <div class="overlay-text">   
              <h3>{{ .Title | title }}</h3>
              <p>{{ .Date.Format "2006" }}</p>
              <!-- <p>{{ .Summary }}</p> -->
            </div>
          </div>
        </a>
      </div>
      {{ end }} 
    </div>
    {{ end }}
    