#index-page {
  #welcomeimage-section {
    position: relative;
    margin-top: 0;
    #welcomeimage {
      width: 100%;
    }

    #welcomeimage-frame {
      position: absolute;
      background-color: rgba($fontColor, 0.6);
      bottom: 2rem;
      right: 2rem;
      padding: 2rem 2rem 0 2rem;
      width: 30%;
      color: $bgColor;
      #welcomeimage-button{
        margin-top: 1.5rem;
      }
    }
  }

  #landingpage-section-illustrations {
    margin-top: 2rem;
  }

  .landing-page-text{
    padding: 0rem 2rem;
  }

  section {
    margin: 5rem 0;
  }
}

// mobile
@media screen and (max-width: $breakpoint-03) {
  #index-page {
    #welcomeimage-section {
      #welcomeimage-frame {
        display: none;
      }
    }
  }
  .gallery-preview-desktop {
    display: none;
  }
}

// desktop
@media screen and (min-width: $breakpoint-03) {
  #index-page {
    .landing-page-text{
      padding: 1rem 10rem 2rem 10rem;
    }
  }
  .gallery-preview-mobile{
    display: none;
  }
}