#legal-page, #shipping-page {
  padding: 0 1rem;

  * {
    text-align: left;
  }

  ul {
    padding-left: 1rem;
  }

  h1, h2, h3 {
    margin-top: 1rem;
  }

  table {
    td {
      vertical-align: top;
      padding: 0.3rem;
      min-width: 5rem;
    }
  }

}