{{ $num := .Scratch.Get "pageNumber"}}
{{ $cat := .Scratch.Get "category" | lower }}

{{- range .Pages -}}
  {{- if eq (lower .Name)  $cat -}}
    {{ range first $num .Pages.ByDate.Reverse }} 
      <div class="box">
        <a href="{{ .RelPermalink }}">
          <h3>{{ .Name }}</h3>
          <p>{{ .Summary }}</p>

          {{ .Scratch.Set "width" "200"}}
          {{ .Scratch.Set "quality" "60"}}
          {{- partial "attachedImage.html" . -}}
        </a>
      </div>
    {{ end }} 
    <a class="button" href="{{.RelPermalink}}">{{ i18n "buttons.showmore"}}</a>
  {{ end }} 
{{ end }}