{{ define "main" }}
<div>
  <h1 class="title">{{ .Site.Title | title }}</h1>
  
  <section>
    {{- $imageResource := resources.Get "images/welcomeimage.jpg" -}} {{ $image := $imageResource.Resize "1080x q80" }}
    <img id="welcomeimage" src="{{ $image.RelPermalink }}" alt="welcome image" />
  </section>

  <section>
    <h2>{{i18n "home.illustrationsheader" | title}}</h2>
    {{ .Scratch.Set "pageNumber" "3"}}
    {{ .Scratch.Set "category" "illustrations"}}
    {{- partial "latest.html" . -}}
  </section>
      
  <section>
    <h2>{{i18n "home.creativecornerheader" | title}}</h2>
    {{ .Scratch.Set "pageNumber" "3"}}
    {{ .Scratch.Set "category" "creative-corner"}}
    {{- partial "latest.html" . -}}
  </section>
</div>
{{ end }}
