{{ define "main" }}
<div>
  <section id="welcomeimage-section">
    {{- $imageResource := resources.Get "images/colorful-wall-art.jpg" -}} 
    {{ $image := $imageResource.Resize "2160x q100" }}
    <img id="welcomeimage" src="{{ $image.RelPermalink }}" alt="welcome image"/>
    <div id="welcomeimage-frame">
      <p id="welcomeimage-text">{{ i18n "home.callToAction.frame" }}</p>
      <a id="welcomeimage-button" class="button" href="{{ "shop/prints/" | relLangURL }}">{{ i18n "home.callToAction.button" }}</a>
    </div>
  </section>

  <section class="landing-page-text">
    <h2>{{- i18n "home.text01.title" | title -}}</h2>
    <p>{{- i18n "home.text01.content" -}}
      <a class="text-link" href="{{ "illustrations/" | relLangURL }}"> {{- i18n "home.text01.link" -}}</a>
    </p>

  </section>
  
  <section id="landingpage-section-illustrations">
    <a href="{{ "illustrations/" | relLangURL }}">{{- i18n "nav.illustrations" | title -}}
      <!-- <h2>{{i18n "home.illustrationsheader" | title}}</h2> -->
    </a>
    <div class="gallery-preview-desktop">{{ .Scratch.Set "pageNumber" "5"}}
    {{ .Scratch.Set "category" "illustrations"}}
    {{- partial "latest.html" . -}}
    </div>
    <div class="gallery-preview-mobile">{{ .Scratch.Set "pageNumber" "4"}}
      {{ .Scratch.Set "category" "illustrations"}}
      {{- partial "latest.html" . -}}
    </div>
    <a class="button" href="{{ "illustrations/" | relLangURL }}">{{ i18n "buttons.togallery" }}</a>
  </section>
  
  <section class="landing-page-text">
    <h2>{{- i18n "home.text02.title" | title -}}</h2>
    <p>{{- i18n "home.text02.content" -}}</p>
  </section>

  <section>
    <!-- <h2>{{i18n "home.shopheader" | title}}</h2> -->
    <!-- TODO: replace this by 2 images pointing to a) the fine art print shop page and b) the poster shop page -->
    {{ .Scratch.Set "pageNumber" "3"}}
    {{ .Scratch.Set "category" "creative-corner"}}
    {{- partial "latest.html" . -}}
    <a class="button" href="{{ "shop/" | relLangURL }}">{{ i18n "buttons.toshop" }}</a>
  </section>

  <section class="landing-page-text">
    <h2>{{- i18n "home.text03.title" | title -}}</h2>
    <p>{{- i18n "home.text03.content" -}}</p>
  </section>

  <section>
    <!-- <h2>{{i18n "home.creativecornerheader" | title}}</h2> -->
    <!-- TODO: replace this by 2 images pointing to a) the colouring book shop page and b) the creative corner -->
    {{ .Scratch.Set "pageNumber" "3"}}
    {{ .Scratch.Set "category" "creative-corner"}}
    {{- partial "latest.html" . -}}
    <a class="button" href="{{ "creative-corner/" | relLangURL }}">{{ i18n "buttons.tocreativecorner" }}</a>
  </section>

  <section class="landing-page-text">
    <h2>{{- i18n "home.text04.title" | title -}}</h2>
    <p>{{- i18n "home.text04.content" -}}</p>
  </section>

</div>
{{ end }}
