{{ define "main" }}
<div>
  <section id="welcomeimage-section">
    {{- $imageResource := resources.Get "images/colorful-wall-art.jpg" -}} 
    {{ $image := $imageResource.Resize "2160x q100" }}
    <img id="welcomeimage" src="{{ $image.RelPermalink }}" alt="welcome image"/>
    <div id="welcomeimage-frame">
      <p id="welcomeimage-text">{{ i18n "home.callToAction.frame" }}</p>
      <a id="welcomeimage-button" class="button" href="{{ "shop/" | relLangURL }}">{{ i18n "home.callToAction.button" }}</a>
    </div>
  </section>

  <section class="landing-page-text">
    <h2>{{- i18n "home.text01.title" | title -}}</h2>
    <p>{{- i18n "home.text01.content" -}}</p>
  </section>
  
  <section id="landingpage-section-illustrations">
    <a href="{{ "illustrations/" | relLangURL }}">{{- i18n "nav.illustrations" | title -}}
      <h2>{{i18n "home.illustrationsheader" | title}}</h2>
    </a>
    {{ .Scratch.Set "pageNumber" "5"}}
    {{ .Scratch.Set "category" "illustrations"}}
    {{- partial "latest.html" . -}}
  </section>
  
  <section class="landing-page-text">
    <h2>{{- i18n "home.text02.title" | title -}}</h2>
    <p>{{- i18n "home.text02.content" -}}</p>
  </section>

  <section>
    <h2>{{i18n "home.creativecornerheader" | title}}</h2>
    {{ .Scratch.Set "pageNumber" "3"}}
    {{ .Scratch.Set "category" "creative-corner"}}
    {{- partial "latest.html" . -}}
  </section>
</div>
{{ end }}
