{{ define "main" }}
<h1>Colouring Books</h1>
</br>
<div id='collection-component-1614512526977'></div>

<h2>Temporarily out of stock</h2>
<p>The books are currently not available <b>on this page</b>. New ones will arrive before the end of August 😊. Come back soon!</p>
<br>
<p>In the meantime, you can still buy them on amazon and other book stores!</p>

<div class="link-list">
  <p>Both books are also available from these vendors:*</p>
  <div class="link-list-row">
    <a target="_blank" href="https://www.amazon.de/gp/product/3982259827/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=3982259827&linkCode=as2&tag=seraphinearts-21&linkId=38568e91393eacfd2495d505540d8af1">amazon.de - Zen Animals</a>
    <a target="_blank" href="https://www.amazon.de/gp/product/3982259819/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=3982259819&linkCode=as2&tag=seraphinearts-21&linkId=fae23dc8d0ebc460aa44a44ef51e490c">amazon.de - Zen Tierwelt</a>
  </div>
  <div class="link-list-row">
    <a target="_blank" href="https://www.amazon.co.uk/Zen-Animals-Colouring-Adventure-Kingdom/dp/3982259827/ref=sr_1_1">amazon.co.uk - Zen Animals</a>
    <a target="_blank" href="https://www.amazon.co.uk/Zen-Tierwelt-Malbuch-Abenteuer-Reich/dp/3982259819/ref=sr_1_2">amazon.co.uk - Zen Tierwelt</a>
  </div>
  <div class="link-list-row">
    <a target="_blank" href="https://www.amazon.com/Zen-Animals-Colouring-Adventure-Kingdom/dp/3982259827/ref=sr_1_1">amazon.com - Zen Animals</a>
    <a target="_blank" href="https://www.amazon.com/Zen-Tierwelt-Malbuch-Abenteuer-German/dp/3982259819/ref=sr_1_2">amazon.com - Zen Tierwelt</a>
  </div>
  <div class="link-list-row">
    <a target="_blank" href="https://www.barnesandnoble.com/w/zen-animals-rebecca-seraphine-m-ller/1138328067">BARNES & NOBLE - Zen Animals</a>
    <a target="_blank" href="https://www.barnesandnoble.com/w/zen-tierwelt-rebecca-seraphine-m-ller/1138328057">BARNES & NOBLE - Zen Tierwelt</a>
  </div>
</div>


<p>*Please note that prices on those platforms might vary, as the sellers are free to change prices independent of the publisher.</p>
<p>This list may contain affiliate links, meaning that at no additional cost to you, I may earn a small commission.</p>
{{ end }}